* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-header: #065E7C;
    --color-input: #2a87a5;

    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1.6rem 2.8rem;

    background-color: var(--color-header);

    --startY: -100%;
    animation-name: efect2;
    animation-duration: .2s;
}

header form {
    flex: 1;
}

header img {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}

.input-wrapper input {
    border: none;
    width: 100%;
    height: 4.5rem;
    padding: 1.6rem;
    border-radius: .5rem;

    background-color: var(--color-input);

}

.input-wrapper input::placeholder {
    color: white;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 1.6rem;
}

.main {
    margin: auto;
    padding: 3.8rem 0;
}

.cat {
    width: min(80.6rem, 100%);
    margin: 0 auto 3rem;
}

main, article {
    width: 43.4rem;
    margin: auto;
}

.main {
    overflow-y: scroll;
}

main h1 {
    font-size: 2.4rem;
    font-family: 'Mulish';
    font-weight: 700;
}

main p {
    font-size: 1.6rem;
    font-family: "Mulish";
}

main button {
    border: none;
    padding: .8rem 0 .8rem;
    background-color: white;
    
}

main button + button {
    margin-left: 1.2rem;
}

main .button {
    margin-bottom: 1rem;
}

article h1 {
    font-weight: 700;
    margin: 3.4rem 0 3.2rem;
}

article .link {
    display: grid;
    grid-template-areas:
    "A B"
    "A C";
    column-gap: 1.6rem;
}

.nav {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
}

.link {
    width: 38.3rem;
}

.link img {
    grid-area: A;
}

.link h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.link p {
    font-size: 1.4rem;
    color: #121214;
}

footer {
    height: 6.4rem;
    background-color: #387E96;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 'Mulish';
    font-weight: 500;

    --startY: 100%;
    animation-name: efect2;
    animation-duration: .2s;
}

.link {
    animation: efect 1s;
}

@keyframes efect {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes efect2 {
    from {
        transform: translateY(var(--startY));
    }
}

@media (min-width: 1350px) {
    .main {
        display: grid;
        grid-template-areas: 
        "A A B"
        "C C B";

        column-gap: 3.2rem;

        margin: 4.4rem 11rem;
    }

    .main {
        margin: 0;
    }

    .cat {
        grid-area: A;
    }

    .container {
        grid-area: C;
    }

    main {
        width: 80rem;
    }

    article {
        grid-area: B;
        margin: 0;
    }

    article h1 {
        margin-top: 0;
    }
}